html:not([data-theme=dark]) {
  --bg: #fff;
  --fg-on: #000;
  --fg: #222;
  --pre-dim: #777;
  --pre-val: #870;
  --pre: #222;
  --bar-min-width: 1px;
}

html[data-theme=dark] {
  color-scheme: dark;
  --bg: #191919;
  --fg-on: #ddd;
  --fg: #aaa;
  --pre-dim: #999;
  --pre-val: #cb8;
  --pre: #ccc;
  --bar-min-width: 3px;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme=light]) {
    color-scheme: dark;
    --bg: #191919;
    --fg-on: #ddd;
    --fg: #aaa;
    --pre-dim: #999;
    --pre-val: #cb8;
    --pre: #ccc;
    --bar-min-width: 3px;
  }
}

body {
  margin: 50px;
  font: 16px/20px sans-serif;
  background: var(--bg);
  color: var(--fg);
}

:global(#startPanel) {
  margin: 10% auto 0 auto;
}

:global(#resultsPanel) {
  display: none;
}

section {
  margin: auto;
  max-width: 600px;
}

:global(#logo) {
  background-image: url(/favicon.svg);
  background-size: 80px;
  background-repeat: no-repeat;
  padding-left: 100px;
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
}

h1 {
  font-size: 80px;
  line-height: 1em;
  color: var(--fg-on);
  margin: 0;
}

blockquote {
  font-size: 29px;
  line-height: 1em;
  margin: 5px 0;
  font-style: italic;
}

p {
  margin: 20px 0;
}

a,
b {
  color: var(--fg-on);
}

code {
  font: 14px/20px 'Noto Sans Mono', monospace;
  background: rgba(127, 127, 127, 0.2);
  padding: 2px 4px;
  margin-bottom: -2px;
  border-radius: 3px;
}

pre {
  color: var(--pre);
  font: 14px/20px 'Noto Sans Mono', monospace;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
}

:global(.center) {
  text-align: center;
}

:global(.noscript) {
  color: #e24834;
}

button {
  padding: 5px 30px;
  line-height: 1.5em;
  background: none;
  color: var(--fg);
  border: 1px solid var(--fg);
  border-radius: 100px;
  cursor: pointer;

  &:active,
  &:hover {
    color: var(--fg-on);
    border: 1px solid var(--fg-on);
    background: rgba(127, 127, 127, 0.2);
  }

  &:active {
    padding: 6px 30px 4px 30px;
    background: rgba(0, 0, 0, 0.2);
  }
}

:global(#settingsPanel) {
  text-align: center;

  & :global(.chartSwitcher) {
    position: relative;
    margin: 50px 0;
    display: flex;
    justify-content: center;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0.5em;
      content: '';
      display: block;
      border: 1px solid #FFCF00;
      z-index: -1;
    }

    & span {
      background: var(--bg);
      padding: 0 1em;
      border-left: 2px solid #FFCF00;
    }

    & span:first-child {
      border: none;
    }
  }

  & a {
    text-decoration: none;
    color: var(--fg);

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
      color: var(--fg-on);
    }
  }
}

.summary {
  max-width: 600px;
  margin: auto;
}

.tooltip {
  position: absolute;
  background: black;
  color: #999;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  display: none;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  z-index: 1;
  white-space: pre;

  & b {
    color: #FFF;
  }
}
